body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Common Styling */
.App {
  text-align: center;
}

/* Button Styling */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  margin-top: 5rem;
  width: 15%;
}

.btn:first-of-type {
  margin-right: 5rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777; 
}

.btn--white::after {
    background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}
  
.btn--green::after {
    background-color: #55c57a; 
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  -webkit-animation-name: moveInBottom;
  animation-name: moveInBottom;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.btn--primary {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.btn--primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn--primary:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--primary:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--primary::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

/* Headings */
.heading-primary {
  text-transform: uppercase;
  margin-bottom: 6rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 3rem;
}

/* Form */
.form__group:not(:last-child) {
  margin-bottom: 2rem; 
}

.form__input {
  font-size: 1.5rem;
  margin: 0 auto;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  width: 90%;
  display: block;
  transition: all .3s; 
}

.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a; 
}

.form__input::-webkit-input-placeholder {
    color: #999; 
}

.form__label {
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; 
}

.form-create-btn {
    display: flex;
    justify-content: space-around;
}

/* Table */
table, th, td {
  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 0 auto; */
}

th {
  height: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

td {
  height: 1rem;
  font-weight: 400;
  height: 1.5rem;
}


